@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14.3% 4.1%;
    --card: 60 30% 96%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 60 30% 96%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 120 25% 35%;
    --primary-foreground: 60 33% 97%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 51 100% 50%;
    --accent-foreground: 48 95.8% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 60 5.9% 90%;
    --input: 60 5.9% 90%;
    --ring: 120 25% 35%;
    --radius: 0.5rem;
    --chart-1: 120 40% 40%;
    --chart-2: 51 100% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 120 25% 25%;
    --sidebar-foreground: 60 30% 96%;
    --sidebar-primary: 51 100% 50%;
    --sidebar-primary-foreground: 48 95.8% 11.2%;
    --sidebar-accent: 120 25% 30%;
    --sidebar-accent-foreground: 60 30% 98%;
    --sidebar-border: 120 25% 30%;
    --sidebar-ring: 51 100% 50%;
  }
  .dark {
    --background: 120 10% 10%;
    --foreground: 60 9.1% 97.8%;
    --card: 120 10% 12%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 120 10% 10%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 120 10% 15%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 120 10% 15%;
    --muted-foreground: 60 5.4% 63.9%;
    --accent: 51 100% 50%;
    --accent-foreground: 48 95.8% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 120 10% 15%;
    --input: 120 10% 15%;
    --ring: 120 25% 65%;
    --chart-1: 120 40% 50%;
    --chart-2: 51 100% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 120 10% 8%;
    --sidebar-foreground: 60 30% 96%;
    --sidebar-primary: 51 100% 50%;
    --sidebar-primary-foreground: 48 95.8% 11.2%;
    --sidebar-accent: 120 10% 12%;
    --sidebar-accent-foreground: 60 30% 98%;
    --sidebar-border: 120 10% 12%;
    --sidebar-ring: 51 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
